# Git
.git
.DS_Store
.venv
.venv_pipeline
libs
__pycache__
*.pyc
.gitignore

# Web Artifacts (Huge)
web/node_modules
web/.next
web/.turbo
web/build
node_modules

# Python / Environment
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Docker
.docker

# Data (Don't build in data, mount it)
data/
models/
